
div{
  background-color: aliceblue;
  width: 1000px;
  margin: 50px;
}
div.Contacts{
  text-align: center;
  width: 1750px;
}
div.link{
  text-align: center;
  width: 1750px;
}
p{
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}